@charset "UTF-8";

/* Media queries para tablets e dispositivos com telas maiores */
/*tablets:768-992 Desktops:992-1200 Telas maiores:>=1200*/

  @media screen and (min-width: 768px) and (max-width:992px) {
    body {
     background-image: linear-gradient(to bottom, #41882f, #511d6f);
    }
    
    main > section#login {
     width: 80vw;
     height: 400px;
    }

    main > section#login > div#imagem {
     float: left;
     height: 100%;
     width: 40%;
     border-top-right-radius: 0px;
    }

    main > section#login > div#formulario {
     float: right;
     height: 100%;
     width: 50%;
     margin: 0px 20px 0px 0px;
    }
  }

  @media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: linear-gradient(to bottom, #41882f, #511d6f);
       }

    main > section#login {
        width: 90vw;
        height: 400px;
    }

    main > section#login > div#imagem {
        float: right;
        height: 100%;
        width: 40%;
        border-top-left-radius: 0px;
    }

    main > section#login > div#formulario {
      float: left;
      height: 100%;
      width: 50%;
      margin: 0px 0px 9px 40px;
    }
  }