@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

:root {
    --cor-01:#511d6f;
    --cor-02:#41882f;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-01);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

main > section#login {
   position: absolute;
   top: 50%;
   left: 50%;
   overflow: hidden;

   background-color: #fff;
   transform: translate(-50%,-50%);
   width: 280px;
   height: 550px;
   border-radius: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

   transition: width 0.3s,height 0.3s;
   transition-timing-function: ease;
}

main > section#login > div#imagem {
    display: block;
    height: 250px;
    background-color: var(--cor-01);
    background-image: url(../imagem/pattern.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

main > section#login > div#tela {
    display: block;
    padding: 0px 10px 10px 20px;
}

main > section#login > div#tela > h1 {
    text-align: center;
    padding: 20px;
    font-weight: bolder;
}

main > section#login > div#tela > p {
    line-height: 23px;
    padding: 0px 10px 10px 2px;
}